.table-list-users {
  border-radius: 10px;
}

.menu-add-new {
  font-size: 30px;
}

.select-filter {
  position: relative;
  top: 14px;
}
.padding-left-0 {
  padding-right: 0px;
}
.margin-rigth-10 {
  margin-right: 10px;
}
