<div class="col s12 l12 m12 xl12 padding-0">
  <div class="col s12 m12 l4 xl4 padding-0">
    <div class="input-field col s12 padding-0">
      <input
        id="first_name"
        type="text"
        class="validate"
        [(ngModel)]="searhText"
      />
      <label for="first_name" [ngClass]="{ active: searhText }">Search</label>
    </div>
  </div>

  <div class="col s12 m12 m12 xl8 l8 padding-left-0">
    <select
      (change)="selectedType($event)"
      class="browser-default col s6 l3 m3 xl3 select-filter"
    >
      <option value="" disabled selected>Tipo</option>
      <option *ngFor="let v of vaccination" value="{{ v }}">{{ v }}</option>
    </select>
    <div class="col s1 l1 m1 xl1"></div>
    <select
      (change)="selectedStatus($event)"
      class="browser-default col s5 m2 xl2 select-filter"
    >
      <option value="" disabled selected>Status</option>
      <option *ngFor="let s of status" value="{{ s }}">{{ s }}</option>
    </select>
    <div class="col s12 m6 l6 xl6">
      <input
        type="text"
        ngxDaterangepickerMd
        [(ngModel)]="selected"
        (change)="filterTime()"
        class="form-control select-filter"
      />
    </div>
  </div>
</div>
<div class="col s12 l12 m12 xl12 z-depth-1 table-list-users">
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th>CI</th>
        <th>Nombres / Apellidos</th>
        <th>Email</th>
        <th>Vacunado</th>
        <th>Tipo</th>
        <th>Creado</th>
        <th routerLink="/users/new">
          <i class="material-icons blue-text menu-add-new pointer">add_box</i>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of listUsers | filter: searhText">
        <td>{{ user.ci }}</td>
        <td>{{ user.name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <i
            *ngIf="user.vaccination_id?.length > 0"
            class="material-icons green-text"
            >verified</i
          >
        </td>
        <td>
          <div class="" *ngFor="let v of user.vaccination_id">
            {{ v.name }} / {{ v.number_doses }}
          </div>
        </td>
        <td>{{ user.createdAt | date: "medium" }}</td>
        <td>
          <i
            class="material-icons kcolor pointer"
            [matMenuTriggerFor]="menu"
            (click)="userId = user._id; selectedCi = user.ci"
            >menu</i
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editUser()">
    <mat-icon>mode</mat-icon>
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="deleteUser()">
    <mat-icon>delete</mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>

<div
  id="errorActive"
  *ngIf="confirm"
  class="modal"
  [ngClass]="{ up: confirm, downs: !confirm }"
  style="
    overflow-x: hidden;
    width: 450px;
    border-radius: 4px;
    top: 25vh !important;
  "
>
  <div class="modal-content text-inicial">
    <div class="col s12 l12 m12 xl12 center">
      <div class="cont__title">
        <img
          src="assets/images/guest-app/titles/attention.svg"
          class="icon-attention"
          width="150"
          alt=""
        />
      </div>
      <div class="cont__message--attention">
        <span class="text__title"
          >Es necesario ingresar el numero de cedula del usuario para la
          confimación</span
        >
      </div>
      <div class="col s12 l12 m12">
        <input
          placeholder="CI"
          [(ngModel)]="ciUser"
          type="text"
          class="validate"
        />
      </div>

      <div class="cont__buttons">
        <button
          class="btn btn-success button--return pointer red margin-rigth-10"
          (click)="confirm = false; ciUser = ''"
        >
          <span>Cancelar </span>
        </button>

        <button
          *ngIf="ciUser == selectedCi"
          class="btn btn-success button--go pointer"
          (click)="deleteConfirmation()"
        >
          <span>Confirmar</span>
        </button>
      </div>
      <div class="col s12"><br /></div>
    </div>
  </div>
</div>
