<div class="container-full">
  <div class="row">
    <div class="cols12 l12 m12 xl12 navbar-fixed">
      <nav class="kbackground">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"
            ><img
              src="https://krugercorp.com/wp-content/uploads/2020/06/kruger.png"
              width="80"
              class="klogo"
              alt=""
          /></a>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="container-full">
  <div class="row">
    <div class="col s12 l10 m12 xl10 offset-l2 offset-xl1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
