.form-new-base {
  margin-top: 30px;
  border-radius: 10px 10px 0px 0px;
}
.form-new-vc {
  margin-top: 30px;
  border-radius: 0px 0px 10px 10px;
}

.button-form-cancel {
  margin-right: 10px;
}
.form-switch-admin {
  position: relative;
  top: 30px;
}
