<div class="col s12 l12 m12 xl12">
  <form
    class="col s12 m12 xl10 l10 offset-l1 offset-xl1 z-depth-1 form-new-base"
    [formGroup]="userForm"
    (ngSubmit)="saveUser()"
  >
    <div class="row">
      <div class="col s12 l12 m12 xl12">
        <div class="col s12 l12 m12">
          <br />
        </div>
        <h2 class="col s10 m10 xl10 l10 padding-0" *ngIf="!id; else update">
          Registro de nuevo usuario
        </h2>
        <ng-template #update>
          <h2 class="col s10 m10 xl10 l10 padding-0">Actulizar usuario</h2>
        </ng-template>

        <div class="col s12 l12 xl12 m12 divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 xl6 m6 l6">
        <input
          id="date_of_brith_user"
          type="date"
          class="validate"
          formcontrolname="date_of_brith_user"
        />
        <label
          for="date_of_brith"
          [ngClass]="{ active: userForm.value.date_of_brith_user }"
          >Fecha de nacimiento
        </label>
      </div>
      <div class="input-field col s12 xl6 m6 l6">
        <input
          id="address"
          type="text"
          class="validate"
          formcontrolname="address"
        />
        <label for="address" [ngClass]="{ active: userForm.value.address }"
          >Dirección</label
        >
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 xl6 m6 l6">
        <input
          id="phone"
          type="text"
          class="validate"
          formControlName="phone"
        />
        <label for="phone" [ngClass]="{ active: userForm.value.phone }"
          >Telefono</label
        >
      </div>
      <div class="col s5 l6 m6 xl4 padding-0">
        <div class="switch">
          <label>
            No Vacunado
            <input type="checkbox" formControlName="vaccination" />
            <span class="lever"></span>
            Vacunado
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l12 m12 xl12">
        <button type="submit" class="btn btn-small right">Guardar</button>
        <button
          routerLink="/users/list"
          class="btn btn-small red right button-form-cancel"
        >
          Cancelar
        </button>
        <div class="col s12 l12 m12" *ngIf="send">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="col s12">
    <br />
  </div>
  <div class="col s12 m12 xl10 l10 offset-l1 offset-xl1 z-depth-1 form-new-vc">
    <h2 class="col s12 l12 m12 xl12">Vacunas registradas</h2>
    <div class="col s12 l16 xl6">Listado de Vacunas</div>
    <div class="col s12 l16 xl6">
      <div class="col s12 m12 xl12" id="vcFrom">
        <div class="row">
          <div class="col s12 l12 m12 xl12">
            <div class="col s12 l12 m12">
              <br />
            </div>
            <h2 class="col s10 m10 xl10 l10 padding-0">
              Registro de nueva vacuna
            </h2>

            <div class="col s12 l12 xl12 m12 divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <select
              (change)="selectedStatus($event)"
              class="browser-default col s12 select-filter"
            >
              <option disabled selected>Nombre</option>
              <option *ngFor="let s of status" value="{{ s }}">{{ s }}</option>
            </select>
          </div>
          <div class="input-field col s12">
            <input
              id="vaccination_date"
              type="date"
              [(ngModel)]="vaccination_date"
              class="validate"
            />
            <label
              for="vaccination_date"
              [ngClass]="{ active: vaccination_date }"
              >Fecha de Vacunación</label
            >
          </div>
          <div class="input-field col s12">
            <input
              id="number_docess"
              type="number"
              class="validate"
              [(ngModel)]="number_docess"
            />
            <label for="vaccination_date" [ngClass]="{ active: number_docess }"
              >Numero de dosis</label
            >
          </div>
          <div class="col s12 l12 m12">
            <button (click)="saveVc()" class="btn btn-small right">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
