<div class="col s12 l12 m12 xl12">
  <form
    class="col s12 m12 xl10 l10 offset-l1 offset-xl1 z-depth-1 form-new"
    [formGroup]="userForm"
    (ngSubmit)="userNew()"
  >
    <div class="row">
      <div class="col s12 l12 m12 xl12">
        <div class="col s12 l12 m12">
          <br />
        </div>
        <h2 class="col s10 m10 xl10 l10 padding-0" *ngIf="!id; else update">
          Registro de nuevo usuario
        </h2>
        <ng-template #update>
          <h2 class="col s10 m10 xl10 l10 padding-0">Actulizar usuario</h2>
        </ng-template>

        <div class="col s12 l12 xl12 m12 divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 xl6 m6 l6">
        <input
          id="name"
          type="text"
          class="validate"
          mask="S* S* S* S*"
          formControlName="name"
        />
        <label for="name" [ngClass]="{ active: userForm.value.name }"
          >Nombres</label
        >
      </div>
      <div class="input-field col s12 xl6 m6 l6">
        <input
          id="last_name"
          type="text"
          class="validate"
          mask="S* S* S* S*"
          formControlName="last_name"
        />
        <label for="last_name" [ngClass]="{ active: userForm.value.last_name }"
          >Apellidos</label
        >
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 xl6 l6 m6">
        <input
          id="ci"
          type="text"
          class="validate"
          formControlName="ci"
          mask="0000000000"
        />
        <label
          for="ci"
          [ngClass]="{
            active: userForm.value.ci,
            'red-text':
              userForm.get('ci')?.invalid && userForm.get('ci')?.touched
          }"
          >Cédula de ciudadania</label
        >
      </div>
      <div class="input-field col s12 xl6 l6 m6">
        <input
          id="email"
          type="email"
          class="validate"
          formControlName="email"
        />

        <label
          for="email"
          [ngClass]="{
            active: userForm.value.email,
            'red-text':
              userForm.get('email')?.invalid && userForm.get('email')?.touched
          }"
          >Email
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l12 m12 xl12">
        <div class="col s5 l6 m6 xl4 padding-0">
          <div class="switch">
            <label>
              User
              <input type="checkbox" formControlName="is_admin" />
              <span class="lever"></span>
              Admin
            </label>
          </div>
        </div>

        <button
          [disabled]="userForm.invalid || send"
          type="submit"
          class="btn btn-small right"
        >
          Guardar
        </button>
        <button
          routerLink="/users/list"
          class="btn btn-small red right button-form-cancel"
        >
          Cancelar
        </button>
        <div class="col s12 l12 m12" *ngIf="send">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
