/* You can add global styles to this file, and also import other style files */
.divider {
  border-bottom: 1px solid #80808029;
}
.margin-0 {
  margin: 0px !important;
}
.padding-0 {
  padding: 0px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.red {
  background: #f44336d9 !important;
}

.container-full {
  width: 100vw !important;
}

.kcolor {
  color: #ff9015 !important;
}

.kbackground {
  background: #ff9015 !important;
}
.pointer {
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

mat-datepicker-toggle {
  color: white !important;
}

.up {
  display: block !important;
  z-index: 1003 !important;
  width: 400px;
  top: 25px !important;
  transform: scaleX(1) scaleY(1);
}

.downs {
  display: none !important;
}
